
.main{
    display: grid;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 30%;
    width: 50%;
    overflow: hidden;
    margin: 100px auto;
}

.rb{
    background-color: indianred;
    transform: scale(1, 1);
}

.rb:hover{
    background-color: coral;
    transform: scale(110%, 110%);
}